.about{
    &__banner{
        background-image: url(../../images/about-banner.png) !important;
        @media screen and (max-width: 767px) {
            background-image: url(../../images/about-banner-mb.png) !important;
        }
    }
    &__story{
        padding: 80px 0 110px;
       /* border-top: 30px solid #20285C;*/
        border-bottom: 30px solid #20285C;
        @media only screen and (max-width: 767px) {
            padding: 20px 0 50px 0;
            border-width: 9px;
        }
        &__container{
            width: 100%;
            box-sizing: border-box;
            max-width: 1272px;
            padding: 0 16px;
            margin: 0 auto;
        }
        &__tit{
            text-align: center;
        }
        &__des{
            margin: 50px 0 0 0;
            @media only screen and (max-width: 767px) {
                margin: 0px 0 0 0;
            }
            &02{
                margin: 32px 0 0 0;
                @media only screen and (max-width: 767px) {
                    margin: 15px 0 0 0;
                }
                p{
                    padding: 6px 0;
                    @media only screen and (max-width: 767px) {
                        padding: 0px 0;
                    }
                }
            }
        }
    }
    &__video{
        height: 743px;
        width: 100%;
        background-image: url(../../images/about-video.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
        @media only screen and (max-width: 767px) {
            height: 275px;
            background-image: url(../../images/about-video-mb.png);
        }
        &:before{
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            position: absolute;
            background: rgba(0, 0, 0, 0.3);
        }
        &__tit{
            font-size: 90px;
            letter-spacing: 2px;
            color: #fff;
            font-family: 'BigCaslon-Medium';
            @media only screen and (max-width: 767px) {
                font-size: 30px;
            }
        }
        &__round{
            position: absolute;
            display: block;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
            -webkit-transform: translate(-50%,-50%); 
            -moz-transform: translate(-50%,-50%);
            -o-transform: translate(-50%,-50%);
            -ms-transform: translate(-50%,-50%);
        }
        &__play{
            display: block;
            margin: 10px auto 0 auto;
            width: 160px;
            height: 160px;
            background: url(../../images/icon-play.png) no-repeat;
            background-size: 100%;
            cursor: pointer;
            @media only screen and (max-width: 767px) {
                width: 70px;
                height: 70px;
            }
            &:hover{
                opacity: 0.5;
            }
        }
    }
    &__locations{
        position: relative;
        border-bottom: 30px solid #20285C;
        @media only screen and (max-width: 767px) {
            border: none;
            &:after{
                content: '';
                width: 70%;
                border-bottom: 1px solid #A8AEAF;
                position: absolute;
                display: block;
                left: 15%;
            }
        }
        &__info{
            display: block;
            width: 100%;
            padding: 85px 16px 65px 16px;
            box-sizing: border-box;
            max-width: 1240px;
            position: absolute;
            z-index: 3;
            background: #fff;
            left: 50%;
            top: -75px;
            text-align: center;
            transform: translate(-50%, 0);
            @media only screen and (max-width: 1439px) {
                max-width: 1100px;
            }
            @media only screen and (max-width: 1240px) {
                max-width: 90%;
            }
            @media only screen and (max-width: 767px) {
                transform: none;
                left: 0;
                top: 0;
                position: relative;
                max-width: 100%;
                padding: 40px 16px;
            }
            &--des{
                margin: 60px 0 0 0;
                padding: 0 15%;
                display: block;
                @media only screen and (max-width: 1440px) {
                   padding: 0 6%;
                }
                @media only screen and (min-width: 992px) and (max-width: 1024px) {
                    font-size: 24px;
                    line-height: 33px;
                }
                @media only screen and (min-width: 768px) and (max-width: 991px) {
                    font-size: 20px;
                    line-height: 29px;
                }
                @media only screen and (max-width: 767px) {
                    width: 86%;
                    margin: 15px auto 0 auto;
                }
            }
            &--buttons{
                margin:50px 0 0 0;
                padding: 0;
                width: 100%;
                @media only screen and (max-width: 767px) {
                    margin: 10px 0 0 0;
                }
                li{
                    display: inline-block;
                    padding: 20px;
                    @media only screen and (max-width: 1440px) {
                        padding: 0 15px;
                    }
                    @media only screen and (max-width: 767px) {
                        width: 100%;
                        padding: 20px 0 0 0;
                    }
                    .gbutton{
                        display: block;
                        @media only screen and (max-width: 1440px) {
                            min-width: 180px;
                        }
                        @media only screen and (max-width: 767px) {
                            width: 187px;
                            margin: 0 auto;
                        }
                    }
                    // &:first-child{
                    //     padding-left: 0;
                    // }
                    // &:last-child{
                    //     padding-right: 0;
                    // }
                }
            }
        }
        &__mapround{
            position: relative;
            &:before{
                content: '';
                display: block;
                background: rgba(32, 40, 92, 0.5);
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                z-index: 2;
            }
        }
        &__map{
            width: 100%;
            height: 1100px;
            @media only screen and (max-width: 767px) {
                display: none;
            }
        }
    }
    &__stories{
        padding: 100px 0 80px 0;
        background: #fff;
        @media only screen and (max-width: 767px) {
            padding: 40px 0 30px 0;
        }
        &__container{
            width: 100%;
            box-sizing: border-box;
            max-width: 1510px;
            margin: 0 auto;
            padding: 0 16px;
            @media only screen and (max-width: 767px) {
                padding: 0 28px;
            }
        }
        &__tit{
            text-align: left;
            @media only screen and (max-width: 767px) {
                text-align: center;
                margin: 0;
            }
        }
        &__des{
            max-width: 70%;
            margin: 25px 0 0 0;
            @media only screen and (max-width: 767px) {
                max-width: 100%;
                width: 100%;
                padding: 0 5%;
            }
        }
        &__des, .about__stories__des p{
            font-family: 'BigCaslon-Medium';
            font-size: 31px;
            letter-spacing: 0.9px;
            line-height: 43px;
            color: #5D5D5D;
            @media only screen and (max-width: 767px) {
                font-size: 18px;
                line-height: 24px;
                text-align: left;
            }
        }
        .about__stories__des p{
            @media only screen and (max-width: 767px) {
                max-width: 70%;
            }
        }
        &__boxes{
            display: inline-block;
            margin-bottom: -5px;  
        }
        &__box{
            float: left;
            width: 50%;
            margin: 55px 0 0 0;
            @media only screen and (max-width: 767px) {
                width: 100%;
                margin: 28px 0 0 0;
            }
            img{
                max-width: 100%;
                height: auto;
                margin-bottom: 50px;
                @media only screen and (max-width: 767px) {
                    margin-bottom: 20px;
                }
            }
            &:nth-child(odd){
                padding-right: 60px;
                @media only screen and (max-width: 767px) {
                    padding-right: 0;
                }
            }
            &:nth-child(even){
                padding-left: 60px;
                @media only screen and (max-width: 767px) {
                    padding-left: 0;
                }
            }
            &--tit{
                color: #9F2A24;
                font-family: 'BigCaslon-Medium';
                font-size: 20px;
                letter-spacing: 0.2px;
                line-height: 26px;
            }
            &--des{
                font-size: 15px;
                letter-spacing: 1.5px;
                line-height: 21px;
                margin: 0 0 8px 0;
                @media only screen and (max-width: 767px) {
                    font-size: 12px;
                    line-height: 20px;
                }
            }
            &--button{
                text-transform: uppercase;
                font-size: 13px;
            }
        }
    }
    &__boxes{
        display: inline-block;
        margin-bottom: -5px;
        width: 100%;
        background: #F2F2F2;
        @media only screen and (max-width: 767px) {
            
        }
        &__line{
            display: table;
            width: 100%;
        }
        &__box{
            width: 50%;
            display: table-cell;
            height: 700px;
            box-sizing: border-box;
            vertical-align: middle;
            @media only screen and (max-width: 767px) {
                display: block;
                width: 100%;
                height: auto;
                text-align: center;
            }
            &.content{
                padding: 12%;
                @media only screen and (max-width: 1439px) {
                    padding: 8%;   
                }
                @media only screen and (max-width: 767px) {
                    padding: 50px 0 50px 0;
                }
            }
            &.thumb{
                background: url(../../images/about-partner.png) no-repeat center;
                background-size: cover;
                @media only screen and (max-width: 767px) {
                    height: 300px;
                }
            }
            &--des{
                margin: 25px 0 30px 0;
            }
            &--des, .about__boxes__box--des p{
                font-family: 'Avenir-Book';
                font-size: 30px;
                line-height: 43px;
                letter-spacing: 0.98px;
                @media only screen and (max-width: 1439px) {
                    font-size: 25px;
                    line-height: 35px;   
                }
                @media only screen and (max-width: 767px) {
                    font-size: 13px;
                    letter-spacing: 0.6px;
                    line-height: 20px;
                    padding: 0 9%;
                }
            }
            &--button{
                margin: 0 auto 0 0;
            }
        }
    }
}