$color_main: #9F2A24;
li{
  list-style: none;
}
.cmn__banner_noimg{
  padding: 5% 40px;
  @media only screen and (max-width: 767px){
    padding: 10% 40px 10% 40px;
    border-bottom: 10px solid #20285C;
  }
  .tit{
    color: $color_main;
    font-family: 'BigCaslon-Medium';
    font-size: 90px;
    text-align: center;
    letter-spacing: .2px;
    text-transform: uppercase;
    padding-bottom: 50px;
    @media only screen and (max-width: 1440px) and (min-width: 768px){
      font-size: 70px;
      padding-bottom: 40px;
    }
    @media only screen and (max-width: 767px){
     font-size: 30px;
      line-height: 36px;
      padding-bottom: 16px;
    }
  }
  .text{
    color: #5D5D5D;
    font-size: 46px;
    line-height: 54px;
    letter-spacing: .9px;
    font-family: 'BigCaslon-Medium';
    max-width: 1140px;
    margin: 0 auto;
    @media only screen and (max-width: 1440px) and (min-width: 768px){
      font-size: 38px;
      line-height: 46px;
    }
    @media only screen and (max-width: 767px){
     font-size: 18px;
      line-height: 24px;
    }
  }
}
.contact__items__cover{
  position: relative;
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
  justify-content: space-between;
  align-items: flex-start;
  background: #fff;
  @media only screen and (max-width: 767px){
    flex-direction: column-reverse;
    flex-wrap: wrap;
  }
  .left{
    width: 60%;
    display: inline-block;
    padding-left: 6%;
    padding-top: 50px;
    @media only screen and (max-width: 767px){
     width: 100%;
      padding-bottom: 20px;
    }
    .tit{
      color: $color_main;
      font-size: 28px;
      text-transform: uppercase;
      letter-spacing: .2px;
      padding-bottom: 12px;
      font-family: 'Avenir-Heavy';
      @media only screen and (max-width: 767px){
        font-size: 20px;
      }
    }
    .items__cover{
      display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
      display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
      display: -ms-flexbox;      /* TWEENER - IE 10 */
      display: -webkit-flex;     /* NEW - Chrome */
      display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
      flex-wrap: wrap;
      width: 100%;
      @media only screen and (max-width: 767px){
        display: inherit;
      }
      p{
        color: #5D5D5D;
        font-size: 30px;
        line-height: 43px;
        letter-spacing: .98px;
        font-family: 'Avenir-Book';
        margin-bottom: 0;
        @media only screen and (max-width: 1680px) and (min-width: 1367px){
          font-size: 22px;
          line-height: 32px;
        }
        @media only screen and (max-width: 1366px) and (min-width: 1200px){
          font-size: 18px;
          line-height: 28px;
        }
        @media only screen and (max-width: 1199px) and (min-width: 992px){
          font-size: 15px;
          line-height: 25px;
        }
        @media only screen and (max-width: 991px){
          font-size: 10px;
          line-height: 18px;
          font-family: 'Avenir-Black';
        }
      }
      .item{
        width: 50%;
        display: inline-block;
        padding-bottom: 30px;
        padding-right: 20px;
        @media only screen and (max-width: 767px){
          padding-bottom: 20px;
          width: 100%;
        }
        .name{
        }
        .position{
        }
        .email{
          a{
            color: #5D5D5D;
            font-size: 30px;
            line-height: 43px;
            letter-spacing: .98px;
            font-family: 'Avenir-Book';
            transition: 0.5s all ease-in-out;
            @media only screen and (max-width: 1680px) and (min-width: 1367px){
              font-size: 22px;
              line-height: 32px;
            }
            @media only screen and (max-width: 1366px) and (min-width: 1200px){
              font-size: 18px;
              line-height: 28px;
            }
            @media only screen and (max-width: 1199px) and (min-width: 992px){
              font-size: 15px;
              line-height: 25px;
            }
            @media only screen and (max-width: 991px){
              font-size: 10px;
              line-height: 18px;
              font-family: 'Avenir-Black';
            }
            &:hover{
              text-decoration: none;
              color: $color_main;
            }
          }
        }
        .phone{
          a{
            color: #5D5D5D;
            font-size: 30px;
            line-height: 43px;
            letter-spacing: .98px;
            font-family: 'Avenir-Book';
            transition: 0.5s all ease-in-out;
            @media only screen and (max-width: 1680px) and (min-width: 1367px){
              font-size: 22px;
              line-height: 32px;
            }
            @media only screen and (max-width: 1366px) and (min-width: 1200px){
              font-size: 18px;
              line-height: 28px;
            }
            @media only screen and (max-width: 1199px) and (min-width: 992px){
              font-size: 15px;
              line-height: 25px;
            }
            @media only screen and (max-width: 991px){
              font-size: 10px;
              line-height: 18px;
              font-family: 'Avenir-Black';
            }
            &:hover{
              text-decoration: none;
              color: $color_main;
            }
          }
        }
      }
      .item:nth-child(even){
        padding-left: 25px;
        @media only screen and (max-width: 767px){
          padding-left: 0;
        }
      }
      .item:nth-child(odd){
       padding-right: 25px;
        @media only screen and (max-width: 767px){
          padding-right: 0;
        }
      }
    }
  }
  .right{
    width: 40%;
    display: inline-block;
    @media only screen and (max-width: 767px){
      width: 100%;
    }
    .row1{
      display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
      display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
      display: -ms-flexbox;      /* TWEENER - IE 10 */
      display: -webkit-flex;     /* NEW - Chrome */
      display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
      align-content: center;
      justify-content: space-between;
      align-items: center;
      background: #f2f2f2;
      .tit{
        width: 50%;
        display: inline-block;
        color: $color_main;
        text-align: center;
        font-size: 42px;
        letter-spacing: .1px;
        font-family: 'BigCaslon-Medium';
        @media only screen and (max-width: 1440px) and (min-width: 992px){
          font-size: 32px;
          line-height: 42px;
        }
        @media only screen and (max-width: 991px){
          font-size: 20px;
        }

      }
      .img{
        width: 50%;
        display: inline-block;
        overflow: hidden;
        @media only screen and (max-width: 991px){
          height: 195px;
        }
        img{
          object-fit: cover;
          object-position: center;
        }
      }
    }
    .row1.row-reverse{
      flex-direction: row-reverse;
    }
  }
}
.contact__map{
  position: relative;
  &:before{
    content: "";
    background: #20285C;
    opacity: .4;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }
  iframe{
    width: 100%;
    height: 1080px;
    margin-bottom: -6px;
    @media only screen and (max-width: 1440px) and (min-width: 768px){
      height: 760px;
    }
    @media only screen and (max-width: 767px){
      height: 240px;
    }
  }
}
