$color_main: #9F2A24;
li{
  list-style: none;
}
.top__banner.top__banner__location__addcss{
  height: 823px;
  object-fit: cover;
  background: url(../../images/location-hero-image.png);
  border-bottom: 10px solid #20285C;
  @media only screen and (max-width: 1440px) and (min-width: 768px){
    height: 600px;
  }
  @media only screen and (max-width: 767px){
    height: 524px;
    background-size: cover;
  }
  .top__banner__tit{
    top: 0;
    bottom: inherit;
    width: unset;
    font-size: 60px;
    line-height: 70px;
    letter-spacing: 2px;
    padding: 30px 49px 30px 100px;
    @media only screen and (max-width: 1440px) and (min-width: 1200px){
      top:0%;
    }
    @media only screen and (max-width: 1199px) and (min-width: 768px){
      top:10%;
    }
    @media only screen and (max-width: 991px){
      display: none;
    }
  }
}
.contact__intro.location-addstyle{
  background: url(../../images/location-intro-bg.png);
}
.location-items{
  position: relative;
  background: #F2F2F2;
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  height: 703px;
  @media only screen and (max-width: 1440px) and (min-width: 768px) {
    height: 640px;
  }
  @media only screen and (max-width: 767px){
    height: 202px;
  }
  .left{
    width: 50%;
    display: inline-block;
    .cover{
      width: 100%;
      max-width: 645px;
      margin: 0 auto;
      padding-left: 4%;
      @media only screen and (max-width: 767px){
      padding-left: 20px;
      }
    }
    .tit{
      color: $color_main;
      font-size: 60px;
      letter-spacing: .2px;
      font-family: 'BigCaslon-Medium';
      padding-bottom: 10px;
      @media only screen and (max-width: 767px){
        font-size: 20px;
        padding-bottom: 0;
      }

    }
    .txt{
      font-size: 30px;
      line-height: 43px;
      letter-spacing: .98px;
      font-family: 'Avenir-Book';
      color: #5D5D5D;
      @media only screen and (max-width: 767px){
        font-size: 10px;
        line-height: 14px;
        padding-right: 20px;
      }
      @media only screen and (max-width: 375px){
        padding-right: 10px;
      }
    }
    .btn-click{
      padding-top: 50px;
      @media only screen and (max-width: 767px){
        padding-top: 10px;
      }
      a{
        color: $color_main;
        border-radius: 50px;
        text-transform: uppercase;
        font-size: 25px;
        letter-spacing: 1.33px;
        border: 3px solid $color_main;
        padding: 17px 32.5px;
        transition: 0.5s all ease-in-out;
        @media only screen and (max-width: 767px){
          font-size: 9px;
          padding: 3px 12.5px;
          border: 2px solid $color_main;

        }
        &:hover{
          text-decoration: none;
          background: $color_main;
          color: #fff;
        }
      }
    }
  }
  .right{
    width: 50%;
    display: inline-block;
    height: 100%;
    img{
      width: 100%;
      object-fit: cover;
      height: 100%;
    }
  }
}
.location-items.location-reverse{
  flex-direction: row-reverse;
}