$color_main: #9F2A24;

.contact__intro.providers-addstyle{
  background: url(../../images/location-intro-bg.png);
  background-size: cover;
  max-width: inherit;
  background-position-x: 80%;
  p{
    padding-bottom: 10px;
  }
  .txt{
    max-width: 1100px;
  }
}

.service__expect.providers-addstyle{
  .list__items{
    max-width: 1170px;
    .item{
      @media only screen and (min-width: 768px){
        width: 33.3%;
      }

    }
    .item:nth-child(2){
      img{
        width: 34%;
      }
    }
  }

}
.providers__post{
  .post__cover:nth-child(odd){

  }
  .post__cover:nth-child(even){
    flex-direction: row;
  }
  .post__cover{
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
    @media only screen and (max-width: 767px){
      display: inherit;
    }
    .image{
      width: 50%;
      transition: 0.5s all ease-in-out;
      @media only screen and (max-width: 767px){
        width: 100%;
      }

      img{
        height: 700px;
        object-fit: cover;
        object-position: center;
        width: 100%;
        max-width: none;
        transition: 0.5s all ease-in-out;
        @media only screen and (max-width: 1919px) and (min-width: 768px) {
          height: 540px;
        }
        @media only screen and (max-width: 767px){
          height: 260px;
        }
      }
    }
    .content{
      width: 50%;
      margin: 0 auto;
      max-width: 745px;
      @media only screen and (max-width: 1919px) and (min-width: 768px) {
        padding-left: 5%;
        padding-right: 20px;
      }
      @media only screen and (max-width: 767px){
        width: 100%;
        padding-left: 45px;
        padding-right: 45px;
        padding-top: 25px;
        padding-bottom: 70px;
      }

      .title{
        color: $color_main;
        font-size: 50px;
        letter-spacing: 0.2px;
        line-height: 65px;
        font-family: 'BigCaslon-Medium';
        text-transform: uppercase;
        @media only screen and (max-width: 1919px) and (min-width: 768px) {
          font-size: 36px;
          line-height: 55px;
        }
        @media only screen and (max-width: 767px){
          font-size: 20px;
          line-height: 26px;
        }
      }
      .description, .ac__content{
        color: #5D5D5D;
        font-size: 30px;
        line-height: 43px;
        letter-spacing: 0.98px;
        font-family: 'Avenir-Book';
        margin-top: 10px;
        max-width: 580px;
        padding-bottom: 10px;
        @media only screen and (max-width: 1919px) and (min-width: 768px) {
          font-size: 22px;
          line-height: 32px;
        }
        @media only screen and (max-width: 767px){
          font-size: 13px;
          line-height: 20px;
          letter-spacing: .6px;
          font-family: 'Avenir-Heavy';
        }

        p{
          color: #5D5D5D;
          font-size: 30px;
          line-height: 43px;
          letter-spacing: 0.98px;
          font-family: 'Avenir-Book';
          margin-top: 10px;
          max-width: 580px;
          padding-bottom: 10px;
          @media only screen and (max-width: 1919px) and (min-width: 768px) {
            font-size: 22px;
            line-height: 32px;
          }
          @media only screen and (max-width: 767px){
            font-size: 13px;
            line-height: 20px;
            letter-spacing: .6px;
            font-family: 'Avenir-Heavy';
          }
        }

      }
      .gbutton2{
         cursor: pointer;
        color: $color_main;
        display: inline-block;
        text-transform: uppercase;
        font-size: 20px;
        @media only screen and (max-width: 1919px) and (min-width: 768px) {
          font-size: 18px;
        }
        @media only screen and (max-width: 767px){
          font-size: 13px;
        }
      }
    }
  }
  .post__cover.active{
    display: inherit;
    .title{
      padding-top: 20px;
      padding-bottom: 60px;
      @media only screen and (max-width: 1919px) and (min-width: 768px) {
        padding-top: 10px;
        padding-bottom: 30px;
      }
    @media only screen and (max-width: 767px){
      padding-top: 0;
      padding-bottom: 10px;
    }

    }
    .image{
    width: 100%;
      margin: 0 auto;
      max-width: fit-content;
      padding-top: 150px;
      @media only screen and (max-width: 767px){
        padding-top: 0;
      }
      img{
        max-width: 1498px;
        margin: 0 auto;
        width: 100%;
        text-align: center;
        object-fit: cover;
      }
    }
    .active__post{
      padding-bottom: 110px;
      @media only screen and (max-width: 1919px) and (min-width: 768px) {
        padding-bottom: 80px;
      }
      @media only screen and (max-width: 767px){
        padding-bottom: 50px;
      }
    }
    .content{
      max-width: 1498px;
      width: 100%;
      padding-top: 50px;
      @media only screen and (max-width: 1919px) and (min-width: 768px) {
        padding-top: 30px;
      }
      @media only screen and (max-width: 767px){
        padding-top: 25px;
        padding-bottom: 0;
      }
      .description{
       display: block;
        max-width: none;
        padding-bottom: 0;
        p{
          max-width: none;
        }
      }
    }
    .ac__content{
      max-width: none;
      @media only screen and (max-width: 767px){
        padding-bottom: 0;
      }
      p{
        max-width: none;
      }
    }
  }
}

.providers-bg-last{
  height: 100%;
  width: 100%;
  img{
    height: 505px;
    width: 100%;
    object-fit: cover;
    object-position: center;
    @media only screen and (max-width: 767px){
      height: 220px;
    }
  }
}