.oursuccess{
    &__top{
        border-bottom: 30px solid #20285C; 
        &__container{
            box-sizing: border-box;
            padding: 40px 16px 100px 16px;
            max-width: 1416px;
            margin: 0 auto;
        }
        &__tit{
            text-align: center;
        }
        &__des{

        }
    }
    &__test{
        &__button{
            margin: 100px auto 0 auto;
        }
        &__container{
            width: 100%;
            max-width: 1580px;
            margin: 0 auto;
        }
        &__around{
            display: table;
            width: 100%;
            margin: 150px 0;
        }
        &__thumb{
            display: table-cell;
            width: 50%;
            background-image: url(../../images/oursuccess-thumb.png);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            height: 555px;
        }
        &__content{
            display: table-cell;
            width: 50%;
            font-size: 15px;
            letter-spacing: 1.3px;
            line-height: 21px;
            box-sizing: border-box;
            padding: 3% 5% 3% 7.5%;
            &--tit{
                margin: 0 0 35px 0;
            }
        }
    }
    &__locations{
        border-bottom: 0;
        .about__locations__info{
            position: relative;
        }
        .gbutton{
            display: block;
        }
    }
}