
@font-face {
  font-family: 'Avenir-Heavy';
  src: url('../../fonts/Avenir-Heavy.eot?#iefix') format('embedded-opentype'),  url('../../fonts/Avenir-Heavy.woff') format('woff'), url('../../fonts/Avenir-Heavy.ttf')  format('truetype'), url('../../fonts/Avenir-Heavy.svg#Avenir-Heavy') format('svg');
  font-weight: normal;
  font-style: normal;
} 
@font-face {
  font-family: 'Avenir-Medium';
  src: url('../../fonts/Avenir-Medium.eot?#iefix') format('embedded-opentype'),  url('../../fonts/Avenir-Medium.woff') format('woff'), url('../../fonts/Avenir-Medium.ttf')  format('truetype'), url('../../fonts/Avenir-Medium.svg#Avenir-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir-Book';
  src: url('../../fonts/Avenir-Book.eot?#iefix') format('embedded-opentype'),  url('../../fonts/Avenir-Book.woff') format('woff'), url('../../fonts/Avenir-Book.ttf')  format('truetype'), url('../../fonts/Avenir-Book.svg#Avenir-Book') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir-Black';
  src: url('../../fonts/Avenir-Black.eot?#iefix') format('embedded-opentype'),  url('../../fonts/Avenir-Black.woff') format('woff'), url('../../fonts/Avenir-Black.ttf')  format('truetype'), url('../../fonts/Avenir-Black.svg#Avenir-Black') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'BigCaslon-Medium';
  src: url('../../fonts/BigCaslon-Medium.eot?#iefix') format('embedded-opentype'),  url('../../fonts/BigCaslon-Medium.woff') format('woff'), url('../../fonts/BigCaslon-Medium.ttf')  format('truetype'), url('../../fonts/BigCaslon-Medium.svg#BigCaslon-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}
@import "./common/progress";
@import "./modules/variables";
@import "./modules/mixin";
@import "./modules/global";
@import "./common/reuse";
@import "./common/header";
@import "./common/footer";
@import "./pages/top";
@import "./pages/about";
@import "./pages/patient-information";
@import "./pages/location";
@import "./pages/contact";
@import "./pages/service";
@import "./pages/our_providers";
@import "./pages/single_service";
